<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1 class="text-center title-1"> Busca de Clientes </h1>
    <form action="/delete" method="post">
        <p>id:<input type="text" name="id" /></p>
        <p><input type="submit" value="Excluir" /></p>
    </form>
</body>
</html>
